body
{
  color: red;
  background: #b3f8a2;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_Hand_name1,#result_Hand_name2
{
  color: black;
  font-family: verdana;
}
.Hand_name
{
  font-size: 40px;
}
.Hand_gesture
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 14px;
  color:royalblue;
  padding: 6px;
  background-color: white;
  border-radius: 10px;
}
